<% qcconfigs = ActiveSupport::JSON::decode(@configs) %>
<%= content_tag :div, id: 'axis-controls', class: 'qcconfigs qchidden' do %>
  <%= content_tag :div, content_tag(:h4, 'Axis Controls'),
      class: 'qcconfigs-header'%>
  <%= content_tag :div, class: 'qcconfigs-body' do %>
    <%= content_tag :div, class: 'qcconfigs-container' do %>
      <%= label_tag :xaxis, 'X Axis: ' %>
      <table class='qcconfigs-container'>
        <% qcconfigs['xfields'].each_with_index do | field, index | %>
          <tr>
            <td>
              <input type='radio' name='qc-xaxis' value='<%= field %>'
                     <%= (index == 0) ? 'checked' : '' %>>
                <%= qcconfigs['headers'][field] %>
              </input>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <%= content_tag :div, class: 'qcconfigs-container' do %>
      <%= label_tag :yaxis, 'Y Axis: '%>
      <table class='qcconfigs-container'>
        <% qcconfigs['yfields'].each_with_index do | field, index | %>
          <tr>
            <td>
              <input type='radio' name='qc-yaxis' value='<%= field %>'
                     <%= (index == 1) ? 'checked' : '' %>>
                <%= qcconfigs['headers'][field] %>
              </input>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>
