<% qcconfigs = ActiveSupport::JSON::decode(@configs) %>
<%= content_tag :div, id: 'carousel-controls', class: 'qcconfigs qchidden' do %>
  <%= content_tag :div, content_tag(:h4, 'Carousel Controls'),
      class: 'qcconfigs-header'%>
  <%= content_tag :div, class: 'qcconfigs-body' do %>
    <%= content_tag :div, class: 'qcconfigs-container' do %>
      <%= content_tag :div, class: 'btn-group', role: 'group' do %>
        <button type='button' id='carousel-rotl' class='btn btn-default'>
          Rotate Left
        </button>
        <button type='button' id='carousel-rotr' class='btn btn-default'>
          Rotate Right
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
