<%= content_tag :div, class: 'qcconfigs qcconfigs-container %>
  <% @configs.headers.each do | field | %>
    <%= link_to(@configs.headers[series], {}, { :class =>"color-picker", :data-color => @configs.color[series], :data-color-id => series } %>
      <%= image_tag('color-picker', {}, { :height => "20px", :width => "20px", :src => image_path('color-wheel.png') %>
    <% end %>
  <% end %>
<% end %>
