<div id="vis-container">
  <div id="vis-controls">
    <div id="qcconfigs" class="qcconfigs">
      <div class="qcconfigs-title">
        <h3>Vis Configurations</h3>
      </div>
      <%= render 'quelcharts/axis_configs' %>
      <%= render 'quelcharts/carousel_configs' %>
    </div>
  </div>
  <div id="vis-canvas" class="qccarousel">
    <div class="carousel-main">
      <% $carousel = false %>
      <%= render 'quelcharts/vis' %>
    </div>
    <div id="qccarousel-bar" class="container-fluid carousel-bar qchidden">
      <div class="row">
        <% $carousel = true %>
        <% (1..3).each do |i| %>
          <%= render 'quelcharts/vis' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="select-box"></div>
