<div class="qccanvas-wrapper <% if $carousel %>col-md-4<% end %>">
  <canvas class="qccanvas qc-grid"></canvas>
  <canvas class="qccanvas qc-xaxis"></canvas>
  <canvas class="qccanvas qc-yaxis"></canvas>
  <canvas class="qccanvas qc-main">
    Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
  </canvas>
  <canvas class="qccanvas qc-title"></canvas>
</div>
